@import '../../theme';

.menuContainer {
  position: relative;
}

.hamburger {
  height: 24px;
  width: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  padding: 1rem;
  transition: background 250ms ease-in-out;
  // border-radius: 5px 5px 0 0;

  & > div {
    background: $app-menu-active-background;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
  }

  &.open {
    background: $app-menu-active-background;
  }

  &.open > div {
    background: #ffffff;
  }

  &.open > div:first-child {
    transform: translateY(8px) rotate(45deg);
  }

  &.open > div:nth-child(2) {
    opacity: 0;
    transform: scale(0);
  }

  &.open > div:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.menu {
  background: $app-menu-active-background;
  color: #ffffff;

  width: 10rem;
  padding: 0.25rem;

  transform: translateX(12rem);
  opacity: 0;

  position: absolute;
  right: -1rem;

  display: flex;
  flex-direction: column;

  transition: all 250ms ease-in-out;

  a {
    padding: 1rem;
    color: #ffffff;
    transition: all 250ms ease-in-out;


    &:hover {
      background: #ffffff;
      color: $app-menu-active-background;
      text-decoration: none;
    }
  }

  &.open {
    transform: translateX(0);
    opacity: 1;
  }
}