@import '../theme';

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  // background: url('/hero.jpg');
  background-size: cover;

  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  // height: calc(100vh - 4.5rem);
  // height: 500px;

  // border-bottom: 3px solid $header-border;

  position: relative;

  .inner {
    background: transparent;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 60%
    );
    box-sizing: border-box;
    height: 100%;
    flex-grow: 1;
    padding: 2rem;

    color: #ffffff;

    h1, h2 {
      // background: rgba(0, 0, 0, 0.5);
      margin: 0;
      text-shadow: 2px 2px 2px #000000;
      animation: appear 500ms;
    }

    h1 {
      font-size: 5rem;
    }

    h2 {
      font-size: 2rem;
    }

    p {
      width: 50%;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 500px;
    }
  }
}

@media screen and (max-width: 500px) {
  .hero {
    background-position-x: 80%;

    .inner {
      background: rgba(0, 0, 0, 0.5);

      h1 {
        font-size: 3rem;
      }
      
      h2 {
        font-size: 1.3rem;
      }

      p {
        width: 100%;
        // background: rgba(0, 0, 0, 0.5);
        // padding: 0.5rem;
      }
    }
  }
}