@import '../theme';

.footer {
  background: $footer-background;
  border-top: 3px solid $footer-border;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 999;

  color: $footer-color;

  a {
    color: $footer-link;
    vertical-align: baseline;

    &:hover {
      color: $footer-link-hover;
    }
  }

  img {
    height: 50px;
  }

  .contact {
    flex-grow: 1;
    text-align: right;
    font-size: 0.9rem;

    div {
      margin: 0.25rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    iframe {
      display: none;
    }
  }
}