@import '../theme';

#header {
  background: $header-background;
  border-bottom: 3px solid $header-border;
  padding: 0.25rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  h1 {
    margin: 0;
  }

  .logo {
    height: 4rem;
  }
}
