@import '../theme';

@keyframes appear {
  from { opacity: 0; transform: scaleY(0);}
  to { opacity: 1; transform: scaleY(1);}
}

#header {
  background: $header-background;
  border-bottom: 3px solid $header-border;
  padding: 0.25rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  .logo {
    max-width: 100%;
    width: 100px;
  }

  h1 {
    animation: appear 150ms linear;
    color: $header-color;
    margin-left: 1rem;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 900;
    flex-grow: 1;
  }

  a {
    color: $header-color;
  }

  nav {
    padding: 0 1rem;
  }

}

@media screen and (max-width: 500px) {
  #header {
    .logo {
      width: 50px;
    }

    h1 {
      font-size: 1.5rem;
    }
  }
}